[Unit]
Description=Publish health metrics (CPU temp, WiFi RSSI, uptime, and (optionally) app status) via MQTT
#After=network.target ????.service
#Wants=????.service

[Service]
Type=simple
User=jdn
Group=jdn
WorkingDirectory=/home/jdn/Code/linuxTools/rpiTelemetry
EnvironmentFile=-/etc/rpiTelemetry/mqtt.env
ExecStart=/home/jdn/Code/rpiTelemetry/venv/bin/python \
    /home/jdn/Code/rpiTelemetry/rpiTelemetry.py \
    --broker 192.168.166.5 \
    --interval 60 \
    --user ${MQTT_USER} \
    --password ${MQTT_PASSWORD}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
